header {
    position: sticky;
    left: 0;
    top: 0;
    background-color: #C5C3FF;
    height: 60px;
    display: flex;
    align-items: center;
}

html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    color: black;
    font-family: monospace;
}

p {
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
